
@{
    ViewBag.Title = "Citas - SaludCloud";
    Layout = null;
}

<!doctype html>
<html lang="es">
<head>
    <title>Inicio - SaludCloud</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <style type="text/css">
        .Rectangulo {
            width: 220px;
            height: 110px;
            background: #1996d8;
            border-radius: 3px 4px;
        }
    </style>
</head>
<body>

    <!--Section Script-->
    <script>
        $(document).ready(function () {
            $("#Correo").hide();
            $("#lbCorreo").hide();
            $('#checkbox1').on('change', function () {
                if (this.checked) {
                    $("#Correo").show();
                    $("#lbCorreo").show();
                } else {
                    $("#Correo").hide();
                    $("#lbCorreo").hide();
                }
            })
            $('#klk').fadeIn();
            setTimeout(function () {
                $("#klk").fadeOut();
            }, 2000);
        });
    </script>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary"></button>
            </div>
            <div class="img bg-wrap text-center py-4" style="background-image: url('../images/bg_1.jpg');">
                <div class="user-logo">
                    <div class="img" style="background-image: url('../images/logo1.jpg');"></div>

                    <h3>@ViewBag.Nombre @ViewBag.Apellido</h3>
                    <p>Medico General</p>
                </div>
            </div>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="#"><span class="fa fa-home mr-3"></span> Inicio</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-medkit mr-3 notif"><small class="d-flex align-items-center justify-content-center">5</small></span> Citas</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-stethoscope mr-3"></span>Consultas</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-user-md mr-3"></span>Médicos</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-user mr-3"></span>Pacientes</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-bar-chart mr-3"></span>Reportes</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-cog mr-3"></span>Perfil</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-sign-out mr-3"></span>Sign Out</a>
                </li>
            </ul>
        </nav>
        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">

            @if (ViewBag.alert == "Send")
            {
                <div class="alert alert-info" id="klk">
                    <center><strong>SaludCloud!</strong> Cita agendada correctamente.</center>
                </div>
            }

            <br />
            <br />
            @*<button type="button" class="btn btn-info btn-lg" style="background-color:#1996d8" data-toggle="modal" data-target="#myModal">&f067; Agregar Cita</button>*@
            <div class=" row" style="text-align:right; padding:5px">
                <div class="col-md-12">
                    @*<input type="button" class="btn btn-primary" value="Nuevo" />*@
                    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-plus" style="padding-top: 3%;"></i>
                        Nuevo
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                @*<th style="visibility:hidden">Id</th>*@
                                <th>NOMBRE</th>
                                <th>APELLIDO</th>
                                <th>MOTIVO</th>
                                <th>NOTA</th>
                                <th>FECHA</th>
                                <th>HORA</th>
                                <th>MÉDICO</th>
                                <th>CENTRE SALUD</th>
                                <th>ESTADO</th>
                                <th>OPCIONES</th>
                                @*<th style="visibility:hidden">Estado Correo</th>*@
                            </tr>
                        </thead>
                        @foreach (var list in Model)
                        {
                            <tr>
                                @*<td style="visibility:hidden">@list.Id</td>*@
                                @if (@list.Estatus == "Pendiente")
                                {
                                    <td style="font-size: 13px;">@list.Nombre_Paciente</td>
                                    <td style="font-size: 13px;">@list.Apellido_Paciente</td>
                                    <td style="font-size: 13px;">@list.Motivo</td>
                                    <td style="font-size: 13px;">@list.Nota</td>
                                    <td style="font-size: 13px;">@list.Fecha</td>
                                    <td style="font-size: 13px;">@list.Hora</td>
                                    <td style="font-size: 13px;">@list.Medico</td>
                                    <td style="font-size: 13px;">@list.Centro_Salud</td>
                                    <td style="font-size: 13px;">@list.Estatus</td>
                                    @*<td style="visibility:hidden">@list.Estatus_Correo</td>*@
                                    <td>

                                        <div class="dropdown">
                                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                Opciones
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" class="fa fa">&#xf069; Atendida</a></li>
                                                <li><a href="#" class="fa fa">&#xf00d; Ausente</a></li>
                                                <li><a href="#" class="fa fa">&#xf044; Editar</a></li>
                                            </ul>
                                        </div>

                                    </td>
                                }
                                else if (list.Estatus == "Atendida")
                                {
                                    <td style="background-color:mediumspringgreen; font-size: 13px;">@list.Nombre_Paciente</td>
                                    <td style="background-color:mediumspringgreen; font-size: 13px;">@list.Apellido_Paciente</td>
                                    <td style="background-color:mediumspringgreen; font-size: 13px;">@list.Motivo</td>
                                    <td style="background-color:mediumspringgreen; font-size: 13px;">@list.Nota</td>
                                    <td style="background-color:mediumspringgreen; font-size: 13px;">@list.Fecha</td>
                                    <td style="background-color:mediumspringgreen; font-size: 13px;">@list.Hora</td>
                                    <td style="background-color:mediumspringgreen; font-size: 13px;">@list.Medico</td>
                                    <td style="background-color:mediumspringgreen; font-size: 13px;">@list.Centro_Salud</td>
                                    <td style="background-color:mediumspringgreen; font-size: 13px;">@list.Estatus</td>
                                    <td>

                                        <select name="clinica" class="form-control" required>
                                            <option selected style="text-align: center">Opciones</option>
                                            <option>Opcion 1</option>
                                            <option>Opcion 2</option>
                                        </select>

                                    </td>
                                }
                                else if (list.Estatus == "Ausente")
                                {
                                    <td style="background-color:#ce1616; font-size: 13px;">@list.Nombre_Paciente</td>
                                    <td style="background-color:#ce1616; font-size: 13px;">@list.Apellido_Paciente</td>
                                    <td style="background-color:#ce1616; font-size: 13px;">@list.Motivo</td>
                                    <td style="background-color:#ce1616; font-size: 13px;">@list.Nota</td>
                                    <td style="background-color:#ce1616; font-size: 13px;">@list.Fecha</td>
                                    <td style="background-color:#ce1616; font-size: 13px;">@list.Hora</td>
                                    <td style="background-color:#ce1616; font-size: 13px;">@list.Medico</td>
                                    <td style="background-color:#ce1616; font-size: 13px;">@list.Centro_Salud</td>
                                    <td style="background-color:#ce1616; font-size: 13px;">@list.Estatus</td>
                                    <td>

                                        <div class="dropdown">
                                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                Opciones
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Atendida</a></li>
                                                <li><a href="#">Ausente</a></li>
                                                <li><a href="#">Pendiente</a></li>
                                            </ul>
                                        </div>

                                    </td>
                                }

                            </tr>
                        }

                    </table>


                </div>
            </div>


        </div>




                @*<script>


                function Check() {
                    if (document.getElementById("Correo").checked = true) {
                        document.getElementById("Correo").style.visibility = "block";
                    }
                }

                function w3_close() {
                    document.getElementById("mySidebar").style.display = "none";
                }
            </script>*@
            </div>


            <!---MODAL CITAS--->
    <div class="container">
        <h2>Large Modal</h2>
        <!-- Trigger the modal with a button -->
        <!-- Modal -->
        <form class="login100-form validate-form" method="post" action="@Url.Action("GuardarCita", "SaludCloud")">
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                            <h4 class="modal-title" style="float:left; color:black;">Agregar Cita</h4>
                        </div>

                        <div class="modal-body">

                            <div class="col-xs-6">
                                <label for="ex1">Nombres</label>
                                <input class="form-control" name="nombres" type="text" autofocus required>
                            </div>

                            <div class="col-xs-6">
                                <label for="ex1">Apellido</label>
                                <input class="form-control" name="apellidos" type="text" required>
                            </div>

                            <div class="col-xs-6">
                                <label for="ex1">Motivo</label>
                                <input class="form-control" name="Motivo" type="text" required>
                            </div>

                            <div class="col-xs-6">
                                <label for="ex1">Nota</label>
                                <textarea class="form-control" name="Nota" type="text"></textarea>
                            </div>

                            <div class="col-xs-6">
                                <label for="ex1">Date</label>
                                <input class="form-control" type="date" value="--Seleccionar Fecha--" name="date" required>
                            </div>

                            <div class="col-xs-6">
                                <label for="ex1">Hora</label>
                                <input class="form-control" type="time" value="--Seleccionar Hora--" name="hora" required>
                            </div>

                            <div class="col-xs-6">
                                <label for="ex1">Asignar Medico</label>

                                <select name="medico" class="form-control" required>
                                    <option>Opcion 1</option>
                                </select>

                            </div>

                            <div class="col-xs-6">
                                <label for="ex1">Asignar Clinica/H</label>

                                <select name="clinica" class="form-control" required>
                                    <option selected style="text-align: center">--Asignar Clinica/H--</option>
                                    <option>Opcion 1</option>
                                    <option>Opcion 2</option>
                                </select>

                            </div>

                            <div class="col-xs-6">
                                <input type="checkbox" class="form-check-input" id="checkbox1" name="checkbox1">
                                <label class="form-check-label" for="exampleCheck1" onclick="Check()">&nbsp; &nbsp; Agregar Correo electronico?</label>
                            </div>

                            <div class="col-xs-6">
                                <label for="ex1" id="lbCorreo" name="lbCorreo">Correo</label>
                                <input class="form-control" name="Correo" id="Correo" type="text" required>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group" style="margin-bottom: 1%">
                                    <button type="submit" class="btn btn-success" value="Cancelar">
                                        <span class="glyphicon glyphicon-floppy-disk"></span>Guardar
                                    </button>


                                    <button type="submit" class="btn btn-danger" data-dismiss="modal" value="Cancelar">
                                        <span class="glyphicon glyphicon-arrow-left"></span>Regresar
                                    </button>
                                </div>
                            </div>
                            @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                        </div>
                    </div>
                </div>
            </div>
            </form>
</div>



            <script src="~/js/jquery.min.js"></script>
            <script src="~/js/popper.js"></script>
            <script src="~/js/bootstrap.min.js"></script>
            <script src="~/js/main.js"></script>
</body>
</html>


